.pageWrapper {
  position: relative;
  min-height: 100vh;
}

.pageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: var(--bg-primary);
  background-image: url('/images/bg_consulta.png');
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
  pointer-events: none;
}

.pageWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(180deg, rgba(4, 0, 23, 0.7) 0%, rgba(4, 0, 23, 0.85) 100%);
  z-index: -1;
  pointer-events: none;
}

