.pageWrapper {
  position: relative;
  min-height: 100vh;
  background-image: url('/images/bg_home.png');
  background-size: 100% auto;
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.pageWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(4, 0, 23, 0.85) 0%,
    rgba(4, 0, 23, 0.9) 50%,
    rgba(4, 0, 23, 0.85) 100%
  );
  z-index: 0;
  pointer-events: none;
}

.pageWrapper > * {
  position: relative;
  z-index: 10;
}

